.container{
	position: relative;
	width: 340px;
	margin: 0 auto;
	font: 18px RobotoLight;
}
header .wrapper-menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	height: 61px;
	padding: 0 20px;
	background-color: #000;
}
header .wrapper-menu .logo1{
	width: 44px;
	height: 47px;
	background: url(../img/logo1.png) no-repeat;
}
header .wrapper-menu button{
	width: 45px;
	height: 45px;
	border-radius: 5px;
	border: none;
	background: url("../img/reoder.png") no-repeat center;
	background-color: #940868;
	cursor: pointer;
}
/*menu open*/
header .drop-out{
	opacity: 0;
	position: absolute;
	top: 7px;
	right: 20px;
	width: 155px;
	height: 255px;
	box-sizing: border-box;
	padding: 30px 17px;
	border-radius: 5px;
	font: 20px RobotoLight;
	background-color: #950868;
}
header .drop-out a{
	color: #fff;
	line-height: 30px;
}
header .wrapper-menu button:hover .drop-out{
	opacity: 1;
	-webkit-transition: opacity 0.6s ease-in-out;
}
/*********/
header .wrapper-search{
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	height: 61px;
	background-color: #940868;
}
header .wrapper-search input{
	width: 250px;
	height: 40px;
	padding: 0px 20px;
	border: 1px solid #2a2b2c;
	font-size: 1em;
	color: #686868;
	background-color: #f8f8f8;
}
header .wrapper-search button{
	width: 50px;
	height: 40px;
	border: none;
	background: url("../img/search.png") no-repeat center;
	background-color: #fecd36;
}
.container section{
	box-sizing: border-box;
	padding: 20px 25px 41px 20px;
	background-color: #fff;
	font-family: MyriadRegular;
}
.container section code{
	font-family: LetterGothic;
}
.container section article > h2{
	font: 1.66em RobotoMedium;
	color: #213053;
	margin-bottom: 9px;
}
.container section article > h3{
	font: 1.33em RobotoMedium;
	margin-bottom: 21px;
	color: #333;
}
.container section article > h4{
	font: 1em RobotoBold;
	color: #333;
	margin-bottom: 18px;
}
.container section article > ol{
	list-style: decimal; 
}
.container section article > code:nth-of-type(3){
	margin: 0 0 41px 14px;
}
.container section article > code:nth-of-type(4){
	font-family: MyriadRegular;
}
.container section article > code:nth-of-type(5){
	margin-bottom: 44px;
}
.container section article p{
	margin-bottom: 20px;
}
.container section article code{
	display: block;
	margin: 0 0 21px 14px;
	background: #fff2fb;
}
.container nav{
	box-sizing: border-box;
	padding: 23px 18px;
	background-color: #000;
}
.container nav > h3 {
	font-size: 1.11em;	
	color: #484848;
}
.container nav a{
	font-size: 1em;
	color: #fff;
	line-height: 2em;
}
.container nav h3 ~ a::after{
	content: "\2191";
}
.container nav > a{
	display: block;
	width: 100px;
	text-decoration: none;
	color: #c39c27;
	margin-top: 9px;
}
.container footer{
	box-sizing: border-box;
	padding: 34px 45px 30px 17px;
	font-size: 18px;
	color: #e6d2de;
	background-color: #960869;
}
.container footer h3{
	font-size: 1.11em;
	color: #c39c27;
	margin-bottom: 35px;
}
.container footer p{
	font: 1em Robotomedium;
	margin-bottom: 7px;
}	
.container footer address{
	line-height: 1.6em;
	margin-bottom: 67px;
}
.container footer address:nth-of-type(2){
	margin-bottom: 59px;
}
.container footer address:last-of-type{
	margin-bottom: 47px;
}
.container footer > figure{
	font-size: 24px;
	margin: 41px 0px 30px 114px;
	width: 80px;
}
.container footer figcaption{
	margin-top: 10px;
}
.container footer .wrapper-social{
	display: flex;
	justify-content: space-between;
	width: 280px;
}
.container footer h3:last-of-type{
	margin-bottom: 23px;
}
.container footer .wrapper-social button{
	width: 60px;
	height: 60px;
	border: none;
	cursor: pointer;
}
.container footer .wrapper-social button:first-of-type{
	background: url("../img/facebook.png") no-repeat center;
	background-color: #000;
}
.container footer .wrapper-social button:nth-of-type(2){
	background: url("../img/twitter.png") no-repeat center;
	background-color: #000;
}
.container footer .wrapper-social button:nth-of-type(3){
	background: url("../img/linkedin.png") no-repeat center;
	background-color: #000;
}
.container footer .wrapper-social button:last-of-type{
	background: url("../img/more.png") no-repeat center;
	background-color: #000;
}
.container footer .wrapper-social button:hover{
	background-color: #fdcc36;
	-webkit-transition: background 0.5s linear;
}
.container .logo2{
	width: 80px;
	height: 43px;
	margin: 55px 0 21px;
	background: url("../img/logo2.png") no-repeat;
}
.container footer p:last-of-type{
	color: #620443;
	margin-bottom: 0;
}
