.container{
	position: relative;
	width: 340px;
	margin: 0 auto;
	font: 18px RobotoLight;
}
header .wrapper-menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	height: 61px;
	padding: 0 20px;
	background-color: #000;
}
header .wrapper-menu > figure{
	width: 44px;
	height: 47px;
	background: url(../img/logo1.png) no-repeat;
}
header .wrapper-menu figure > figcaption{
	display: none;
}
header .wrapper-menu button{
	width: 45px;
	height: 45px;
	border-radius: 5px;
	border: none;
	background: url("../img/reoder.png") no-repeat center;
	background-color: #940868;
	cursor: pointer;
}
/*menu open*/
header .top-menu{
	display: none;
	position: absolute;
	top: 7px;
	right: 20px;
	width: 155px;
	height: 255px;
	box-sizing: border-box;
	padding: 30px 17px;
	border-radius: 5px;
	font: 20px RobotoLight;
	background-color: #950868;
}
header .top-menu a{
	color: #fff;
	line-height: 30px;
}
/*********/
header .wrapper-search{
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	height: 61px;
	background-color: #940868;
}
header .wrapper-search input{
	width: 250px;
	height: 40px;
	padding: 0px 20px;
	border: 1px solid #2a2b2c;
	font-size: 1em;
	color: #686868;
	background-color: #f8f8f8;
}
header .wrapper-search button{
	width: 50px;
	height: 40px;
	border: none;
	background: url("../img/search.png") no-repeat center;
	background-color: #fecd36;
}
.main-content aside{
	display: none;
}
.container section{
	box-sizing: border-box;
	background-color: #fff;
	font-family: MyriadRegular;
}
.container section code{
	font-family: LetterGothic;
}
.container section article > h2{
	font: 1.66em RobotoMedium;
	color: #213053;
	margin-bottom: 9px;
}
.container section article > h3{
	font: 1.33em RobotoMedium;
	margin-bottom: 21px;
	color: #333;
}
.container section article > h4{
	font: 1em RobotoBold;
	color: #333;
	margin-bottom: 18px;
}
.container section article > ol{
	list-style: decimal; 
}
.container section article > code:nth-of-type(3){
	margin: 0 0 41px 14px;
}
.container section article > code:nth-of-type(4){
	font-family: MyriadRegular;
}
.container section article > code:nth-of-type(5){
	margin-bottom: 44px;
}
.container section article p{
	margin-bottom: 20px;
}
.container section article code{
	display: block;
	margin: 0 0 21px 14px;
	background: #fff2fb;
}
.container .bottom-menu{
	box-sizing: border-box;
	padding: 23px 18px;
	background-color: #000;
}
.container .bottom-menu > h3 {
	font-size: 1.11em;	
	color: #484848;
}
.container .bottom-menu a{
	font-size: 1em;
	color: #fff;
	line-height: 2em;
}
.container .bottom-menu h3 ~ a::after{
	content: "\2191";
}
.container .bottom-menu > a{
	display: block;
	width: 100px;
	text-decoration: none;
	color: #c39c27;
	margin-top: 9px;
}
.container footer{
	box-sizing: border-box;
	padding: 34px 45px 30px 17px;
	font-size: 18px;
	color: #e6d2de;
	background-color: #960869;
}
.container footer h3{
	font-size: 1.11em;
	color: #c39c27;
	margin-bottom: 35px;
}
.container footer p{
	font: 1em Robotomedium;
	margin-bottom: 7px;
}	
.container footer address{
	line-height: 1.6em;
	margin-bottom: 67px;
}
.container footer address:nth-of-type(2){
	margin-bottom: 59px;
}
.container footer address:last-of-type{
	margin-bottom: 47px;
}
.container footer > figure{
	font-size: 24px;
	margin: 41px 0px 30px 114px;
	width: 80px;
}
.container footer figcaption{
	margin-top: 10px;
}
.container footer .wrapper-social{
	display: flex;
	justify-content: space-between;
	width: 280px;
}
.container footer h3:last-of-type{
	margin-bottom: 23px;
}
.container footer .wrapper-social button{
	width: 60px;
	height: 60px;
	border: none;
	cursor: pointer;
}
.container footer .wrapper-social button:first-of-type{
	background: url("../img/facebook.png") no-repeat center;
	background-color: #000;
}
.container footer .wrapper-social button:nth-of-type(2){
	background: url("../img/twitter.png") no-repeat center;
	background-color: #000;
}
.container footer .wrapper-social button:nth-of-type(3){
	background: url("../img/linkedin.png") no-repeat center;
	background-color: #000;
}
.container footer .wrapper-social button:last-of-type{
	background: url("../img/more.png") no-repeat center;
	background-color: #000;
}
.container footer .wrapper-social button:hover{
	background-color: #fdcc36;
	-webkit-transition: background 0.5s linear;
}
.container .logo2{
	width: 80px;
	height: 43px;
	margin: 55px 0 21px;
	background: url("../img/logo2.png") no-repeat;
}
.container footer p:last-of-type{
	margin-bottom: 0;
}

/*adaptive*/
@media screen and (min-width: 1024px) {
	.container{
		width: 935px;
	}
	header .wrapper-menu{
		padding: 0 232px;
		height: 75px;
	}
	header .wrapper-menu button{
		display: none;
	}
	header .wrapper-menu figure{
		height: 63px;
	}
	header .wrapper-menu figure > figcaption{
		display: block;
		text-align: center;
		font-size: 0.55em; 
		color: #fff;
	}
	header .wrapper-search{
		justify-content: flex-end;
		height: 43px;
		padding: 0 232px;
	}
	header .wrapper-search input{
		width: 231px;
		height: 29px;
		padding: 0 6px;
		font-size: 0.66em
	}
	header .wrapper-search button{
		width: 40px;
		height: 29px;
	}
	header .top-menu{
		display: block;
		position: static;
		width: 240px;
		height: 100%;
		border-radius: 0;
		background-color: inherit;
	}
	header .wrapper-menu .top-menu ul{
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		font-size: 0.55em;
		width: 222px;
		height: 35px;
	} 
	header .top-menu ul li:first-of-type > a{
		text-decoration: none;
		font-family: RobotoBold;
		color: #fecd33;
	}
	.container .main-content{
		height: 756px;
		display: flex;
		justify-content: space-between;
		padding: 0 232px;
		font-family: MyriadRegular;
		font-size: 0.5em;
	}
	.main-content aside{
		display: block;
	}
	aside summary{
		height: 21px;
		background-color: #fecd35;
		margin-bottom: 1px;
		font: 1em RobotoMedium;
		line-height: 2em;
		padding-left: 10px;
		outline: none; 
	}
	aside summary ~ p{
		height: 21px;
		background-color: #fff;
		margin-bottom: 1px;
		font: 1em RobotoMedium;
		line-height: 2em;
		padding-left: 10px 
	}
	aside summary ~ p > a{
		text-decoration: none;
		color: #000;
	}
	.container section article{
		width: 271px;
		padding: 21px 0 50px 0;
	}
	.container section code{
		font-family: LetterGothic;
	}
	.container section article > h2{
		font: 2.66em RobotoMedium;
		color: #213053;
		margin-bottom: 11px;
	}
	.container section article > h3{
		font: 1.66em RobotoMedium;
		margin-bottom: 10px;
		color: #333;
	}
	.container section article > h4{
		font: 1.33em RobotoBold;
		color: #333;
		margin: 0px 0 11px 0px;
	}
	.container section article > ol{
		list-style: decimal; 
	}
	.container section article > code:nth-of-type(3){
		margin: 0 0 20px 8px;
	}
	.container section article > code:nth-of-type(4){
		font-family: MyriadRegular;
	}
	.container section article > code:nth-of-type(5){
		margin-bottom: 18px;
	}
	.container section article p{
		margin: 0px 0px 10px 2px;
	}
	.container section article code{
		display: block;
		margin: 0 0 10px 8px;
		background: #fff2fb;
	}
	.container aside{
		margin-top: 32px;
		width: 150px;
		height: 240px;
	}
	.container .bottom-menu{
		padding: 0 232px;
		height: 35px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #000;
		font-size: 0.55em;
	}
	.container .bottom-menu ul{
		display: flex;
		justify-content: space-between;
		width: 223px;
		margin-right: 81px;
	}
	.container .bottom-menu h3{
		color: #757575;
	}
	.container .bottom-menu li a{
		color: #fff;
	}
	.container .bottom-menu > a{
		color:#f1ba3e;
		margin-top: 0px;
	}
	.container .bottom-menu > a::after{
		content: '\2191';
	}
	.container footer{
		display: flex;
		justify-content: space-between;
		height: 223px;
		padding: 21px 232px;
		background-color: #960869;
		font-size: 0.55em;
	}
	.container footer .wrapper-social{
		display: flex;
		justify-content: space-between;
		width: 140px;
	}
	.container footer .wrapper-social button{
		width: 32px;
		height: 32px;
		border: none;
		cursor: pointer;
	}
	.container footer .wrapper-social button:first-of-type{
		background: url("../img/facebook.png") no-repeat center;
		background-size: 30% 50%;
		background-color: #000;
	}
	.container footer .wrapper-social button:nth-of-type(2){
		background: url("../img/twitter.png") no-repeat center;
		background-size: 50% 50%;
		background-color: #000;
	}
	.container footer .wrapper-social button:nth-of-type(3){
		background: url("../img/linkedin.png") no-repeat center;
		background-size: 50% 45%;
		background-color: #000;
	}
	.container footer .wrapper-social button:last-of-type{
		background: url("../img/more.png") no-repeat center;
		background-size: 50% 30%;
		background-color: #000;
	}
	.container footer .wrapper-social button:hover{
		background-color: #fdcc36;
		-webkit-transition: background 0.5s linear;
	}
	.container footer .column1{
		width: 139px;
	}
	.container footer .column2{
		width: 142px;
	}
	.container footer .column3{
		width: 150px;
	}
	.container footer h3{
		font-size: 1.11em;
		color: #f1ba3e;
	}
	.container footer p{
		font: 1em RobotoMedium;
		color:#fff;
	}
	.container footer address{
		color:#f3e9ef;
		line-height: 1.8em;
	}
	.container footer .column1 h3{
		margin-bottom: 8px;
	}
	.container footer .column1 address:first-of-type{
		margin-bottom: 31px;
	}
	.container footer .column2 p{
		margin: 19px 0 2px 0;
	}
	.container footer .column2 address{
		line-height: 1.7em;
	}
	.container footer .column2 img{
		width: 36px;
		height: 39px;
	}
	.container footer .column2 address{
		margin-bottom: 5px;
	}
	.container footer .column3 h3{
		margin: 5px 0 12px 0;
	}
	.container footer .column3 .logo2{
		width: 40px;
		height: 22px;
		margin: 58px 0 4px 0;
		background: url(../img/logo2.png) no-repeat;
		background-size: contain;
	}
	.container footer .column3 p{
		color: #3c0228;
	}
}